<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
<div class="mb-3">

<form method="POST" action="">
    {% csrf_token%}
<table>
    <tr>
        <td>
            <lable class="form-label"> BOOK title</lable>
        </td>
          <td>
              <input type="text" name="title"  class="form-control"><br>
        </td>
    </tr>
    <tr>
        <td>
            <lable class="form-label"> BOOK author</lable>
        </td>
          <td>
              <input type="text" name="author"  class="form-control"><br>
        </td>
    </tr>
    <tr>
        <td>
            <lable class="form-label"> BOOK publisher</lable>
        </td>
          <td>
              <input type="text" name="publisher"  class="form-control"><br>
        </td>
    </tr>
    <tr>
        <td>
            <lable class="form-label"> BOOK category</lable>
        </td>
          <td>
              <input type="text" name="category"  class="form-control"><br>
        </td>
    </tr>

  <tr><td> <button value="submit">Submit</button> </td></tr>
</table>
</form>
</div>
    </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>